.section-about{
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-about h1{
    color: #f2f2f2;
}

.section-about hr{
    color: #f2f2f2;
    height: 1px;
    width: 50%;
    opacity: 1;
}

.about-container{
    width: 50%;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}

.about-container h1{
    color: #f2f2f2;
}

.about-container hr{
    color: #f2f2f2;
    height: 1px;
    width: 50%;
    opacity: 1;
    margin-bottom: 50px;
}

.about-container p{
    color: #b3b3b3;
    font-weight: 400;
    font-size: 16px;
    width: 80%;
}

img{
    border-radius: 50%;
    border: 2px solid #00FFFF;
    padding: 15px;
}

@media screen and (max-width: 768px){
    .section-about{
        flex-direction: column;
    }

    .section-about img{
        margin-top: 50px;
    }

}